* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

body {
  height: 100vh;
  background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
  display: flex;
  justify-content: center;
  align-items: center;
}

.player {
  width: 320px;
  background: #111;
  padding: 25px;
  border-radius: 18px;
  box-shadow: 0 20px 40px rgba(0,0,0,0.5);
  text-align: center;
  color: #fff;
}
#title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 5px;
}
